.main{
    height: 70%;
    width: 100%;
    margin-top: 4%;
    display: flex;
}

.player{
    width: 21.875%;
    height: 100%;
    display: block;
}

input{
    width: 80%;
    height: 1em;
}

label{
    height: auto;
    display: inline-block;
    margin-bottom: 5px;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
}

.score{
    height: auto;
    display: inline-block;
    margin-bottom: 5px;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
}

input{
    height: auto;
    margin-bottom: 5px;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
}

.info#congrats{
    width: 100%;
    display: none;
}

button.name{
    width: 50%;
    height: auto;
    background: #f3f0f1;
    position: relative;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 25px;
    border-radius: 32px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-size: large;
}

.gameboard{
    height: 100%;
    width: 56.25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cell{
    width: 29%;
    background-color: white;
    border: 4px black solid;
    font-size: xxx-large;
    text-align: center;
    height: 33.3%
}

.cell:hover{
    background-color: pink;
}

.disabled{
    pointer-events: none;
}

footer{
    display: grid;
    justify-items: center;
    height: 20%;
    align-items: center;
}

#restart{
    width: 50%;
    height: 40%;
    background: #f3f0f1;
    position: relative;
    margin-bottom: 25px;
    border-radius: 32px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-size: xx-large;
}

#restart:hover {
    opacity: 0.3;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
}